.hero {
  height: calc(100vh - 5rem);
  margin: 8rem auto 0 auto;
  flex-direction: column;
  justify-content: center;
}

.bg {
  height: 13rem;
  width: 13rem;
  margin-top: 1rem;
  background-color: var(--gray);
  border-radius: 1rem;
  float: right;
}

.images {
  position: relative;
}

.heroImg {
  width: 100%;
  margin: -10rem auto 0;
  max-width: 400px;
}

.wave {
  width: 4.68rem;
  margin-right: auto;
  position: absolute;
  bottom: -1rem;
  right: 0;
  fill: var(--pink);
}

.textContainer {
  margin-top: 2rem;
  max-width: 375px;

  & h1 {
    letter-spacing: -0.8px;
    font-size: 1.625rem;
    line-height: 26px;
  }

  & p {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    margin-top: 1rem;
    color: var(--smoke);
  }
}

.btn {
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    margin: unset;
  }
  .heroImg {
    margin: 0;
  }
  .textContainer,
  .images {
    width: 50%;
  }
  .textContainer {
    order: 1;

    & h1 {
      font-size: 3rem;
      line-height: 1;
    }
    & p {
      font-size: 1rem;
    }
    & a {
      margin-right: unset;
      margin-left: unset;
    }
  }
  .images {
    order: 2;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding: 0;
  }
  .heroImg {
    margin: 0;
  }
  .bg {
    position: absolute;
    z-index: -1;
    top: -50px;
    right: -2rem;
  }
  .wave {
    bottom: -3rem;
  }
  .images {
    display: flex;
    justify-content: flex-end;
  }
}
