.container {
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;

    & h2, p {
        text-transform: uppercase;
    }

    & h2 {
        color: var(--smoke);
        letter-spacing: 2.5px;
        line-height: 1rem;
        font-size: 11px;

    }

    & p {
        font-weight: 600;
        font-size: 8px;
        letter-spacing: 1.85px;
        line-height: 13px;
        margin-top: 1rem;
    }

    & svg {
        width: 100%;
        margin-top: 4rem;
    }
}