@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import "./variables.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: white;
}

main,
footer {
  padding: 0 2.5rem;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

input {
  border: none;
  background-color: rgb(167 255 251 / 25%);
  border-radius: 28px;
  padding: 1rem;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: white;
    letter-spacing: -0.35px;
    opacity: 0.75;
  }
}

.center {
  display: flex;
  align-items: center;
}

.link-general {
  background-color: var(--btn-green);
  color: var(--light-green);
  font-size: 12px;
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .link-general {
    font-size: 1rem;
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  main {
    padding: 0;
  }
}
