@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import "./variables.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth !important;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: white;
  position: relative;
}

header {
  background-color: var(--white);
}

.wrapper,
footer {
  padding: 0 2.5rem;
}


.wrapper {
  position: relative;
  z-index: 10;
  background-color: var(--white);
  & section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

input {
  border: none;
  background-color: rgb(167 255 251 / 25%);
  border-radius: 28px;
  padding: 1rem;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: white;
    letter-spacing: -0.35px;
    opacity: 0.75;
  }
}

.center {
  display: flex;
  align-items: center;
}

.link-general {
  background-color: var(--btn-green);
  color: var(--light-green);
  font-size: 13px;
  width: 6.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin: 0 auto;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.75;
  }
}

@media screen and (min-width: 768px) {
  .link-general {
    font-size: 1rem;
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  main {
    padding: 0;
  }
}
