.logo {
  width: 7rem;
  position: sticky;
  top: 6.5rem;
  margin-left: -6px;
  z-index: 11;
  mix-blend-mode: difference;
  background-color: black;

  & svg {
    width: 7rem;
  }

  & svg path {
    fill: white;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    left: 4rem;
  }
}
