:root {
  --white: #fff;
  --black: #000;
  --main-color: #008464;
  --light-green: #a7fffa;
  --hover-green: #01f0c9;
  --btn-green: #00b396;
  --faded-green: rgb(167, 255, 251, 0.4);
  --blue: #5784ce;
  --yellow: #f7c443;
  --smoke: #594d6d;
  --navy: #12022f;
  --pink: #f79292;
  --dark-pink: #f96294;
  --gray: #d9d9d9;
}
