.container {
  margin-top: 7rem;

  & article {
    max-width: 375px;
  }

  & h3 {
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: -1.05px;
  }

  & h3,
  p {
    text-align: center;
  }

  & p {
    color: var(--smoke);
    font-size: 13px;
    letter-spacing: -0.2px;
    line-height: 1.5;
    margin-top: 2rem;
  }

  & svg {
    width: 100%;
    height: 180px;
    margin-top: 2rem;
  }
}

.btn {
  margin-top: 2rem;
}

.desktopBtn {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 8rem;

    & article {
      order: 1;
      width: 50%;

      & h3 {
        font-size: 3rem;
        line-height: 1;
        width: 190px;
      }
      & h3,
      p {
        text-align: start;
      }
      & p {
        margin: 1rem 0 1.5rem 0;
        font-size: 1rem;
      }
    }

    & section {
      order: 0;
      width: 50%;

      & svg {
        height: unset;
        margin-top: 0;
        max-width: 400px;
      }
    }
  }
  .mobileBtn {
    display: none;
  }
  .desktopBtn {
    display: flex;
    margin: unset;
  }
}
